body {
    background-color: black;
    box-sizing: border-box;
}

.game-title {
    color: white;
    text-align: center;
    font-size: 100px;
}

.choose {
    text-align: center;
    color: white;
    font-size: 40px;
    background-color: rgb(245, 45, 245);
}

.choose h3 {
    padding: 5px;
}

.turn-button {
    text-align: center;
    color: white;
    font-size: 50px;
    width: 43%;
    margin: 0 auto;
    transform: skewX(-30deg);
    cursor: pointer;
    border: 5px solid rgb(163, 157, 123);
    padding: 0;
}

.turn-button h3 {
    transform: skewX(30deg);
    padding: 0;
    margin: 15px;
}

.computer-first {
    background-color: rgb(146, 255, 73);
    color: black;
}

.player-first {
    background-color: rgb(32, 255, 236);
    color: black;
    margin-bottom: 30px;
}

.game-board {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: 2px dashed white;
    width: 33%;
    height: 33%;
    cursor: pointer;
    color: white;
    font-size: 180px;
    text-align: center;
}

.zero, .one, .three, .four, .six, .seven {
    border-right: none;
}

.zero, .one, .two, .three, .four, .five {
    border-bottom: none;
}

.zero, .one, .two {
    border-top: black;
}

.two, .five, .eight {
    border-right: black;
}

.zero, .three, .six {
    border-left: black;
}

.six, .seven, .eight {
    border-bottom: black;
}




.button-push {
    background-color: rgb(255, 197, 73);
    color: white;
    border: 5px solid rgb(162, 83, 252);
}

.hide {
    display: none;
}